<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" [(ngModel)]="typedQuery" (ngModelChange)="onModelChange()" placeholder="Search"
          aria-label="Search" id="listSearch" name="searches">
        </form>
    <ul class="navbar-nav ml-auto mr-5" >
      <li class="nav-item" *ngFor="let category of categories" (click)="selectCategory(category)">
       <a id="catname">{{category.name}}</a>
      </li> 
    </ul>
   
  </div>
</nav>



